
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
  height: 100vh;
}
.background{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(177, 147, 147, 0.5), rgba(215, 179, 179, 0.5)), url(https://img.freepik.com/free-vector/pizza-menu-chalkboard-background_1284-11715.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.hed{

  position: sticky;
  top: 0;
  z-index: 9;
}

#hamnav{
  display: none;
}

.head{
  background-color: hsla(2, 89%, 52%, 0.954);
  width: 100%;
  height: 10vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  z-index: 9; 
}

.head #title{
  color: yellow;
  margin-left: 80px;
  align-self: center;
  font-size: 2rem;
}

.link{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 80px;
}


.link ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}

.head li{
  margin: 0 10px;
  padding: 0 10px;
}

.head a{
  text-decoration: none; 
  font-size: 1.15rem;
  font-weight: 500;
}

.head a{
  color: black;
}
.head a:hover {
  color:yellow;

}
main{
  margin-top: 100px;
  padding: 0 80px;
  flex-direction: row;
}

.sec1{
  width: 400px;
  height: 300px;
  margin: 4rem ;
  padding: 2rem;
}
.rob{
  color: rgb(241, 241, 44);
}
h1{
  color: rgb(255, 255, 35);
  font-size: 3rem;
}




.btn1{
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
  background-color: yellow;
  margin-top: 2rem;
  
}

 .btn1 a{
  font:1rem bold;
  color: black;
  text-decoration: none;
 }

 .sec2{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 80px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
 }

 .box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 20vw;
  /* height: 50vh; */
  margin: 1rem;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: hsla(2, 89%, 52%, 0.954);
  box-shadow: 2px 2px 2px rgb(39, 28, 28);
 }

 .box h4{
  margin: 20px 0;
 }

 .box .btn{
  margin-top: auto;
  margin-bottom: 2px;
  padding-top: 10px;
  width: 5.5rem;
  height: 3rem;
  border-radius: 15px;
  
 }

 .box img{
  width: 100%;
  max-height: 55%;
  border-radius: 10px;
  border: 3px solid black;
  box-sizing: border-box;
  background-color: brown;
 

 }


 .btn a{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  transition: all linear .5s;
  

 }

 .btn:hover{

  box-shadow: 2px 2px;
  transform: scale(1.1);


 }

 footer{
  background-color: hsla(2, 89%, 52%, 0.954);
  padding: 30px 0;
  z-index: 1;
  /* position: relative;
  align-self: flex-end; */
 }
.footer-con2{
  color:rgb(19, 18, 18);
  text-align: center;
  margin-bottom: 20px;

}

.footer-con2 p{
  font-size: 16px;
  margin-bottom: 5px;
}

@media (max-width: 1023px){
  .head #title {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    /* margin-top: 30px; */
    align-self: center;
    font-size: 1.7rem;
    /* padding: 0 80px; */
  }
  .link{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* margin-left: auto; */
    margin-right: 20px;
  }
  
  .link ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* margin-left: auto; */
    margin-right: 20px;
  }
  
  .head li {
    margin: 0 5px;
    padding: 0 5px;
  }

  .head a {
    text-decoration: none; 
    font-size: 1rem;
    font-weight: 500;
  }

}

@media
(max-width:730px){
  
.head #title{
  color: rgb(27, 27, 11);
  margin-left: 20px;
  align-self: center;
  font-size: 1.6rem;
}
.link{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 20px;
}


.link ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  display: none;
}

.head li{
  margin: 0 5px;
  padding: 0 5px;
}

.head a{
  text-decoration: none; 
  font-size: 1rem;
  font-weight: 500;
}

.head a{
  color: black;
}
.head a:hover {
  color:rgb(158, 151, 4);

}

.box{
  width: 200px;
}
#ham-itm,#hamburger{
  display: none;
}

#hamnav{
  display: block;
  width: max-content;
  background-color: hsla(2, 89%, 52%, 0.954) ;

  position: fixed;
  top: 0px;
  right:0px;
  z-index: 99;
}

#hamnav label{
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-color: hsla(2, 89%, 52%, 0.954);
  font-size: 2.5rem;
  font-style: normal;
  padding: 2.5vh;
  cursor: pointer;
  z-index: 9;
  border-left: 20px solid hsla(2, 89%, 52%, 0.954)own;
  border-right: 20px solid hsla(2, 89%, 52%, 0.954)wn;
  outline: 0;
}

#hamnav #hamburger:checked ~ #ham-itm {
  display: block;
  background-color: rgb(0, 0, 0);
}


#hamnav #ham-itm a {
  display: block;
  padding: 10px;
  color: rgb(250, 243, 243);
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  box-sizing: border-box;
 
}
#hamnav #ham-itm a:not(:first-child) {border-top: 2px solid #333;}

#hamnav #ham-itm a:hover {
  color: rgb(244, 153, 63);

}

#hamnav #hamburger:checked ~ #hamnav label {
  background-color: black;
}



}
@media(max-width:550px) {

  .head{
    background-color: hsla(2, 89%, 52%, 0.954);
    min-width: 550px;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    z-index: 9; 
  }
  .head #title{
    color: rgb(27, 27, 11);
    margin-left: 15px;
    margin-right: auto;
    font-size: 1rem;
    z-index: 999;
  }

  
  .box {
    display: inline-block;
    width: 100vw;
    padding: 1rem;
    margin: 1rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
    text-align: center;
    
  }
  .box h2{
    margin: 20px 0;
    font-size: 5vw;
  }
  .footer-content h3{
    font-size: 6vw
  }
  .footer-content p{
    font-size: 6vw;
  }

  footer{
    background-color: hsla(2, 89%, 52%, 0.954);
    padding: 30px 0;
    min-width: 550px;
   
   }
}