.table{
    margin: 50px 20px;

}
.table{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: hsl(62, 74%, 86%);
padding: 20px;
border: 1px solid rgb(222, 222, 67);
border-radius: 20px;
margin-bottom: 100px;
}

.table p{
    font-size: 2rem;
    margin-bottom: 3vw;
    color: brown;
    font-weight: 600;
}
.table td,th {
border: 1px solid rgb(50, 45, 45);
padding: 1vw;
}
.table thead{
    background-color: rgb(234, 157, 126);
    color: blanchedalmond;
}
.table table{
    border: 5px solid hsl(198, 87%, 6%);
    border-collapse: collapse;
}
@media(max-width:768px){
    .table p{
        font-size: 2.5vw;
      }
      .table td, th {
        font-size: 2vw;

      }
      .table table{
        border: 3px solid rgb(0, 0, 100);
      }

      /* main{
       padding-left: 80px;
       padding-right: 80px;
       margin-top: auto;
       
      } */
      .head{
        padding-right: 80px;
        padding-left: 80px;
      }
    }




@media(max-width:425px){

  
    main{
        padding: 1vw 2vw;
    }
    .sec2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .head #title{
        font-size: 2rem;
    }

    

}

@media(max-width:320px){
    main{
        padding: 1vw 2vw;
    }
    .table{
        text-align: center;
        margin: 50px 20px;
        padding: 10px 10px;

    }
    .table p{
        font-size: 6vw;
    }

    .table td, th {
        font-size: 5vw;
        font-weight: 100;

    }




}

